/**
 * Custom styles for all things aardvark-seo
 */


/* ----------- Meta validator styles ----------- */
.meta_text_validator--container {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 0;
}

.meta_text_validator--field-container {
  position: relative;
}

.meta_text_validator--progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  display: inline-block;
  background-color: #F6F9FC;
  border-radius: 0 3px 3px 0;
  overflow: hidden;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.meta_text_validator--progress::-webkit-progress-bar {
  background: transparent;
}

.meta_text_validator--progress::-webkit-progress-value{
  background-color: #fff;
  transition: all .2s ease-in-out;
}

.meta_text_validator--progress::-moz-progress-bar {
  background-color: #fff;
  transition: all .2s ease-in-out;
}

.meta_text_validator--progress--err.meta_text_validator--progress::-webkit-progress-value{
  background-color: #e53739;
  transition: all .2s ease-in-out;
}

.meta_text_validator--progress--err.meta_text_validator--progress::-moz-progress-bar {
  background-color: #e53739;
  transition: all .2s ease-in-out;
}

.meta_text_validator--progress--warn.meta_text_validator--progress::-webkit-progress-value{
  background-color: #f79a42;
  transition: all .2s ease-in-out;
}

.meta_text_validator--progress--warn.meta_text_validator--progress::-moz-progress-bar {
  background-color: #f79a42;
  transition: all .2s ease-in-out;
}

.meta_text_validator--progress--valid.meta_text_validator--progress::-webkit-progress-value{
  background-color: #2fd637;
  transition: all .2s ease-in-out;
}

.meta_text_validator--progress--valid.meta_text_validator--progress::-moz-progress-bar {
  background-color: #2fd637;
  transition: all .2s ease-in-out;
}

.meta_text_validator--caption {
  display: inline-block;
  margin-top: 5px;
  font-size: 11px;
}

.meta_preview-fieldtype {
  padding-top: 0;
}

.meta-preview__preview {
  width: 100%;
  max-width: 600px;
}

.google-styles {
  margin-top: 10px;
  border-radius: 4px;
  padding: 10px 15px;
}

.google-styles__title {
  color: #1A0DAB;
}

.google-styles__title:hover {
  text-decoration: underline;
  color: #1A0DAB;
}

.google-styles__link {
  display: block;
  color: #006621;
  font-size: 13px;
}

.google-styles__description {
  font-size: 13px;
  color: #545454;
}
